// =============================================================================
// Navigation Bar
// =============================================================================

@import "../../node_modules/bootstrap/less/navbar.less";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import "../font-awesome/less/font-awesome.less";

body {
  padding: @navbar-height 0;
  overflow-y: scroll;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-top {
  background-color: darken(@body-bg, 2%); border: none;
  .cd-profile-image { border-radius: 50%; -moz-border-radius: 50%; width: 50px; height: 50px; margin: 5px;}
  .cd-social-connect { position: absolute; right: 9%; top: 19px;
    .fa { font-size: x-large; margin-right:30px;
        &:hover {color: #4682B4; cursor: pointer;}
    }
  }
  &:extend(.navbar);
  &:extend(.navbar-inverse);
  &:extend(.navbar-fixed-top);
}

//
// Navigation Footer
// -----------------------------------------------------------------------------

.navbar-footer {
  &:extend(.navbar);
  &:extend(.navbar-fixed-bottom);

  background-color: darken(@body-bg, 2%);

  .text-muted {
    margin-top: 1em;

    span + span:before {
      content: "\2022\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px 0 7px;
    }
  }
}

//TODO: Split this LESS files with different files
//
// BusStops
// -----------------------------------------------

.com-bus-stops-container { background-color: #fff; box-shadow: 1px 3px 5px #E2DCDC; padding: 30px; border-radius: 5px;
  .cd-heading { border-bottom: 1px solid #2b303b; font-size: 16px;
    .cd-title { margin-left:10px; }
  }
  .cd-placeholder { position: relative; width: 100%; margin-top: 27px;
    .cd-item { margin: 5px;
      .cd-icon { font-size: 20px; width: 20%;}
      .cd-text{ display: inline-block; width: 80%; height: 5px; background: lightgrey; margin: 20px;}
    }
  }

}

//
// Map
// -----------------------------------------------

.com-map-container { width: 100%; height: 325px; display: inline-block;
  .cd-placeholder { border-radius: 5px; opacity: 0.5; -webkit-filter: hue-rotate(120deg); width: 100%; height: 100%; background-image: url('../images/placeholder_map.png');}
}

//
// Search Box
// -----------------------------------------------

.com-search-box {
  margin: 60px auto; width: 300px; height: 50px;
  .cd-search-box-wrapper { width: 300px; vertical-align: middle; white-space: nowrap; position: relative;
    input#search { width: 300px; height: 50px; background: #2b303b; border: none; font-size: 13pt; float: left;
      color: #63717f; padding-left: 45px; padding-top:6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
      -webkit-transition: background .55s ease; -moz-transition: background .55s ease; -ms-transition: background .55s ease;
      -o-transition: background .55s ease; transition: background .55s ease;
      &:hover, &:focus, &:active { outline:none; background: #ffffff; border: 1px solid #2b303b; }
    }
    .cd-icon { position: absolute; left: 0; margin-left: 17px; margin-top: 17px; z-index: 1; color: #4f5b66;}
  }
}
