// =============================================================================
// Navigation Bar
// =============================================================================

@import "../../node_modules/bootstrap/less/navbar.less";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import "../font-awesome/less/font-awesome.less";

body {
  padding: @navbar-height 0;
  overflow-y: scroll;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-top {
  background-color: darken(@body-bg, 2%); border: none;
  .cd-profile-image { border-radius: 50%; -moz-border-radius: 50%; width: 50px; height: 50px; margin: 5px;}
  .cd-social-connect { position: absolute; right: 9%; top: 19px;
    .fa { font-size: x-large; margin-right:30px;
        &:hover {color: #4682B4; cursor: pointer;}
    }
  }
  &:extend(.navbar);
  &:extend(.navbar-inverse);
  &:extend(.navbar-fixed-top);
}

//
// Navigation Footer
// -----------------------------------------------------------------------------

.navbar-footer {
  &:extend(.navbar);
  &:extend(.navbar-fixed-bottom);

  background-color: darken(@body-bg, 2%);

  .text-muted {
    margin-top: 1em;

    span + span:before {
      content: "\2022\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px 0 7px;
    }
  }
}

//TODO: Split this LESS files with different files
//
// BusStops
// -----------------------------------------------

.mod-bus-stops-container {
  border: 1px solid #0000ed;
}

//
// Map
// -----------------------------------------------

.mod-map-container {
  border: 1px solid #0000ed;
}

//
// Search Box
// -----------------------------------------------

.mod-search-box-container {
  padding: 50px;
}
